---
title: Fundraising
metaDescription: Sample meta.
permalink: fundraising/index.html
eleventyNavigation:
  key: Fundraising
  order: 1
layout: layouts/base.njk
section: page
---

<script>window.DEBUG_fundraisers = {{ fundraisers | dump | safe }}</script>
<script>window.DEBUG_fundraising = {{ fundraising | dump | safe }}</script>

<script>window.fundraisers = {{ fundraisers | dump | safe }}</script>

{# Access the combined data #}
{% set pageData = fundraising.page[0] %}
{% if pageData %}
  <h1>{{ pageData.title.rendered | safe }}</h1>

  {# Add the page's featured image if it exists #}
  {% if pageData._embedded and pageData._embedded["wp:featuredmedia"] and pageData._embedded["wp:featuredmedia"][0] %}
    <img src="{{ pageData._embedded['wp:featuredmedia'][0].source_url }}" alt="{{ pageData.title.rendered | striptags }}" />
  {% endif %}

  {# Add the page's main content #}
  {{ pageData.content.rendered | safe }}
{% endif %}

<h1>{{ title }}</h1>


{# List of fundraisers #}
<script>window.data = {{ fundraising.fundraisers | dump | safe }}</script>
<ol>
  {%- for item in fundraising.fundraisers %}
  <li>
    {# {{ item | dump | safe }} #}
    <h3>{{ item.acf.name }}</h3>
    {{ item.content.rendered | safe }}
    
    <a href="{{ item.acf.link_to_website }}">{{ item.acf.link_to_website }}</a>

    {% if item._embedded and item._embedded["wp:featuredmedia"] and item._embedded["wp:featuredmedia"][0] %}
      <img src="{{ item._embedded['wp:featuredmedia'][0].source_url }}" alt="{{ item.title.rendered | striptags }}" />
    {% endif %}
    
  </li>
  {% endfor %}
</ol>
