<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
			<div class="container">
			<em>
				<a href="{{ '/' | url }}">{{ metadata.title }}</a>
			</em>
			{% include "components/nav.njk" %}
			</div>
		</header>

		<div class="container">
			<main>
				{{ content | safe }}
			</main>
		</div>

		{% include "components/footer.njk" %}

	</body>

</html>
