---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<h1>{{ title }}</h1>

{{ content | safe }}

<h2>WP posts</h2>
{% include "components/wp_postslist.njk" %}

{% set postslist = collections.post %}

<h2>Eleventy posts</h2>
{% include "components/postslist.njk" %}
