---
layout: layouts/base.njk
section: blog
permalink: "{% if pagination.pageNumber == 0 %}blog/index.html{% else %}blog/{{ pagination.pageNumber }}/index.html{% endif %}"
pagination:
  data: posts
  size: 2 # how many to show before next
---
<h1>{{ title }}</h1>

{{ content | safe }}

<script>window.data = {{ pagination | dump | safe }}</script>

<ol>
  
  {%- for item in pagination.items %}
    
    <li>
      <a href="/blog/{{ item.slug }}/">
        {{ item.title.rendered }}</li>
    </a>
    {% if item._embedded and item._embedded["wp:featuredmedia"] and item._embedded["wp:featuredmedia"][0] %}
      <img src="{{ item._embedded['wp:featuredmedia'][0].source_url }}" alt="{{ item.title.rendered | striptags }}" />
    {% endif %}
  {% endfor -%}
</ol>

<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous post</a>
      {% else %}Previous{% endif %}
    </li>
    {%- for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>Page
          {{ loop.index }}</a>
      </li>
    {%- endfor %}
    <li>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next post</a>
      {% else %}Next{% endif %}
    </li>
  </ol>
</nav>