---
layout: layouts/base.njk
section: blog
---
<h1>{{ title }}</h1>

{{ content | safe }}


<ol>
  {%- for item in pagination.items %}
    <li>
      <a href="/blog/{{ item.slug }}/">
        {{ item.title.rendered }}</li>
    </a>
  {% endfor -%}
</ol>

<nav aria-labelledby="my-pagination">
  <h2 id="my-pagination">This is my Pagination</h2>
  <ol>
    <li>
      {% if pagination.href.previous %}
        <a href="{{ pagination.href.previous }}">Previous post</a>
      {% else %}Previous{% endif %}
    </li>
    {%- for pageEntry in pagination.pages %}
      <li>
        <a href="{{ pagination.hrefs[ loop.index0 ] }}" {% if page.url == pagination.hrefs[ loop.index0 ] %} aria-current="page" {% endif %}>Page
          {{ loop.index }}</a>
      </li>
    {%- endfor %}
    <li>
      {% if pagination.href.next %}
        <a href="{{ pagination.href.next }}">Next post</a>
      {% else %}Next{% endif %}
    </li>
  </ol>
</nav>