---
layout: layouts/base.njk
section: home
latestPostsCount: 2
pagination:
  data: posts
  size: 2
  alias: articles
permalink: "{% if pagination.pageNumber == 0 %}index.html{% else %}pages/home/{{ pagination.pageNumber }}/index.html{% endif %}"
---

{{ content | safe }}

<h2>Latest posts 1</h2>
<ol>
  {%- for item in pagination.items %}
    <li>{{ item.id }}
      <a href="/posts/{{ item.title.rendered | slug }}">
        {{ item.title.rendered }}</li>
    </a>
  {% endfor -%}
</ol>

<h2>Latest posts 2</h2>

<ul>
{% for post in posts | reverse | take(latestPostsCount) %}
  <li>
    <a href="/blog/{{ post.slug }}/">
      {{ post.title.rendered | safe }}
    </a>
  </li>
{% endfor %}
</ul>