---
layout: layouts/base.njk
section: blog
pagination:
  data: posts
  size: 1
  alias: post
permalink: "/blog/{{ post.slug }}/"
eleventyComputed:
  title: "{{ post.title.rendered }}"
---
<h1>{{ title }}</h1>

{{ content | safe }}

<h2>WP posts</h2>
{% include "components/wp_postslist.njk" %}

